<div class="about">
  <div class="letter">
   <strong><p>ABOUT ME</p></strong>
    <div>
     <p>Hi there!</p>
      <p>I am Takahiro-Shirasaka, and work as an infrastructure engineer in the  IT field in Japan.</p>
      <p>I usually do some operations involved with networks and servers, especially firewall as well as routing. Although it's been almost 9 months since I began to work, there are so many things that are very difficult to unserstand. That's why I created this web site where I can post articles I learned not only on my job but studied on my own.</p>
      <p>My current goal is to be a cloud enginner in around two years because it should be one of the essential skills, and super fun to set up an IT infrastructure on the cloud. For now, I don't do anything about cloud technology on the job, I will put my best foot forward to achive my dream. </p>
      <p>Besides IT things, I love English, workout, reading books(both English and Japanese) and listening to music. When it comes to English, I have been stuyding it more than 4 years and I'm getting more and more motivated thanks to IT technology. Additionally, I am crazy about working out. To tell you the truth, working out helped me a lot with building up my confidence in the past. If you have some troubles with yourself, I highlly recommend you to work out for just 30 mimutes everyday.</p>
      <p> I If you get interested in one of them, let me know from here. I also have a Twitter account, which has not been very active lately though, I might tweet about what I like in Japanese when I'm in free time.<p>
      <p>All in all, Really hope you guys enjoy everything in here!!</p>
    </div>
  </div>
  <div class="icons">
    <span class="icon">
     <a href="https://twitter.com/daikyoukin913" target="_blank"><i class="fab fa-twitter fa-7x"></i></a>
    </span>
    <span class="icon">
      <%= link_to contact_index_path do  %>
        <i class="fas fa-envelope fa-7x"></i> 
      <% end %>
    </span>
  </div>
</div>









