<div class="about">
  <div class="letter">
   <strong><p>ABOUT ME</p></strong>
    <div>
     <p>Hi there!</p>
      <p>I am Takahiro-Shirasaka, working as an infrastructure engineer in the  IT field in Japan.</p>
      <p>I usually do some operations involved in networks and servers, especially firewall as well as routing. Although it's been almost 9 months since I taken a step as an enginner, there are so many things that are very difficult to unserstand. That's why I created my own web site where I am going to post articles.</p>
      <p>My career kicked off as a sales person in the education field for a short period. Before being engrossed myself in IT technology, I gave a lecture at an English school for about 1 year. My current goal is to be a cloud enginner in 2 years, so I'm trying to study it by operating AWS, GCP and so on. All in all, here is sum-up of my career below,</p>
      <p>My career</p>
      <p>sales person -> English teacher -> Infrastructure enginner -> cloud enginner(new!!)</p>
      <p>I love English, work-out, books(both English and Japanese) and music. When it comes to English, it's been almost 4 years since I have begun to study with all my strength. Really looking forward to getting in touch with people all over the world!</p>
      <p>Here is What I like 
      <ul>
        <li>ENGLISH</li>
        <li>WORK-OUT</li>
        <li>IT technology</li>
        <li>MUSIC</li>
      </ul>
      </p>
      <p> I If you get interested in one of them, let's get in touch! I also have a Twitter account, so feel free to text me!<p>
    </div>
  </div>
  <div class="icons">
    <span class="icon">
     <a href="https://twitter.com/daikyoukin913" target="_blank"><i class="fab fa-twitter fa-7x"></i></a>
    </span>
    <span class="icon">
      <%= link_to contact_index_path do  %>
        <i class="fas fa-envelope fa-7x"></i> 
      <% end %>
    </span>
  </div>
</div>









