/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

$fa-font-path: '@fortawesome/fontawesome-free/webfonts';
@import '@fortawesome/fontawesome-free/scss/fontawesome';
@import '@fortawesome/fontawesome-free/scss/solid';
@import '@fortawesome/fontawesome-free/scss/regular';
@import '@fortawesome/fontawesome-free/scss/brands';
@import '@fortawesome/fontawesome-free/scss/v4-shims';
@import "bootstrap";


// media queli
$pc: 1024px; // PC
$tab: 680px; // tablet
$sp: 480px;  // smartphone

@mixin pc {
    @media (max-width: ($pc)) {
      @content;
    }
  }
@mixin tab {
    @media (max-width: ($tab)) {
      @content;
    }
  }
@mixin sp {
    @media (max-width: ($sp)) {
      @content;
    }
}



// tags css

.css1 { font-size: 1.0em; }
.css2 { font-size: 1.2em; }
.css3 { font-size: 1.4em; }
.css4 { font-size: 1.6em; }

.tag_cloud {
  display: flex;
  justify-content: center;
  .tag_detail {
    margin: 10px;
  }

}

// home-image

.home {

  .image-bg {
    height: 100%;
    background-size: cover;
    position: relative;
  
    &::before {
      content: ' ';
      background-color: rgba(0,0,0,.5);
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0; 
    }
 
    .image {
      width: 100%;
    } 

    .btn {
      position: absolute;
      color: white;
      font-weight: bold;
      font-size: 3rem;
      top: 70%;
      left: 50%;
      -ms-transform: translate(-50%,-50%);
      -webkit-transform: translate(-50%,-50%);
      transform: translate(-50%,-50%);
      margin:0;
      padding:0;
      border: 3px double white;
      padding: 0.5rem;

        @include pc {
          font-size: 2.5rem;
        };
        @include tab {
          font-size: 1.5rem;
        };
        @include sp {
          font-size: 0.5rem;

        };

        &:hover {
          opacity: 0.5;
          cursor: pointer;
        }

    }
 
  }
 
}

//home-box

.home-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 1rem;

  table {
    margin: 2rem;
  }
  
}


//article-box

.article-box {

  .article {

     table {
       margin: 3rem 0;
       font-size: 1.5rem;
     }

    .pagination {
       font-size: 1.5rem;
     }
 
   }
   
  .tag_cloud {
    margin-top: 2rem;
   }


}


//article_each

.article_each {

  display: flex;
  justify-content: center;
  align-items: center; 
  margin: 1rem 2rem;
}


//about

.about {

  background: linear-gradient(#ccc, #fff);
  font: 14px sans-serif;
  padding: 20px;

  .icons {
    text-align: center;
    margin: 1.5rem;
     
    span {
    margin: 1rem;

    }
  
  }
   

  .letter {
    background: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    margin: 26px auto 0;
    max-width: 550px;
    min-height: 300px;
    padding: 24px;
    position: relative;
    width: 80%;
  }

  .letter:before, .letter:after {
    content: "";
    height: 98%;
    position: absolute;
    width: 100%;
    z-index: -1;
  }

  .letter:before {
    background: #fafafa;
    box-shadow: 0 0 8px rgba(0,0,0,0.2);
    left: -5px;
    top: 4px;
    transform: rotate(-2.5deg);
  }

  .letter:after {
    background: #f6f6f6;
    box-shadow: 0 0 3px rgba(0,0,0,0.2);
    right: -3px;
    top: 1px;
    transform: rotate(1.4deg);
   }

}
  











