/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

$fa-font-path: '@fortawesome/fontawesome-free/webfonts';
@import '@fortawesome/fontawesome-free/scss/fontawesome';
@import '@fortawesome/fontawesome-free/scss/solid';
@import '@fortawesome/fontawesome-free/scss/regular';
@import '@fortawesome/fontawesome-free/scss/brands';
@import '@fortawesome/fontawesome-free/scss/v4-shims';
@import "bootstrap";


// media queli
$pc: 1024px; // PC
$tab: 680px; // tablet
$sp: 480px;  // smartphone

@mixin pc {
    @media (max-width: ($pc)) {
      @content;
    }
  }
@mixin tab {
    @media (max-width: ($tab)) {
      @content;
    }
  }
@mixin sp {
    @media (max-width: ($sp)) {
      @content;
    }
}

.btn {
   font-size: 18px;
   border: 1.5px solid;
   padding: 9px;
   &:hover {
     opacity: 0.5;
   }

   @include pc {
     font-size: 16px;
   };
   @include tab {
     font-size: 16px;
   };
   @include sp {
     font-size: 16px;
   };

}

body {
  background-color: #F5F5F5;
}

// tags css

.css1 { font-size: 1.0em;
        margin: 0.5rem;
        border: 0.1px solid;
        padding: 3px;
        border-radius: 25px;
       }
.css2 { font-size: 1.2em; 
        margin: 0.5rem;
        border: 0.1px solid;
        padding: 3px;
        border-radius: 25px;
      }
.css3 { font-size: 1.4em; 
        margin: 0.5rem;
        border: 0.1px solid;
        padding: 3px;
        border-radius: 25px;
      }
.css4 { font-size: 1.6em;
        margin: 0.5rem;
        border: 0.1px solid;
        padding: 3px;
        border-radius: 25px;
       }



// home-image

.home {

  .image-bg {
    height: 100%;
    background-size: cover;
    position: relative;
  
    &::before {
      content: ' ';
      background-color: rgba(0,0,0,.5);
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0; 
    }
 
    .image {
      width: 100%;

     
    .welcome-top {
      position: absolute;
      color: white;
      font-weight: bold;
      font-size: 45px;
      top: 25%;
      left: 50%;
      -ms-transform: translate(-50%,-50%);
      -webkit-transform: translate(-50%,-50%);
      transform: translate(-50%,-50%);
      margin:0;
      padding:0;
      
        @include pc {
          font-size: 50px;
        };
        @include tab {
          font-size: 35px;
        };
        @include sp {
          font-size: 25px; 
        };
     }

    } 

 
    .btn {
      position: absolute;
      color: white;
      font-weight: bold;
      font-size: 30px;
      top: 80%;
      left: 50%;
      -ms-transform: translate(-50%,-50%);
      -webkit-transform: translate(-50%,-50%);
      transform: translate(-50%,-50%);
      margin:0;
      padding:0;
      border: 3px solid white;
      padding: 0.5rem;

        @include pc {
          font-size: 35px;
        };
        @include tab {
          font-size: 25px;
        };
        @include sp {
          font-size: 18px;

        };

        &:hover {
          opacity: 0.5;
          cursor: pointer;
        }

    }
 
  }
 
}


.article-top {
    text-align: center;
    font-size: 50px;

       @include pc {
         font-size: 40px;
        };
       @include tab {
         font-size: 40px;
        };
       @include sp {
         font-size: 35px;
        };
    
 }

//home-box

.home-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 1rem 1.5rem 1rem;
 

  table {
    margin: 2.5rem;
    font-size: 27px;
       height:200px;
       background:#FFF;
       margin:40px auto;
       font-size: 1.5rem;
       position: relative;
       border-radius: 10px;
       &:after {
         z-index: -1;
         position: absolute;
         content: "";
         bottom: 15px;
         right: 10px;
         left: auto;
         width: 50%;
         top: 80%;
         max-width:300px;
         background: #777;
         -webkit-box-shadow: 0 15px 10px #777;
         -moz-box-shadow: 0 15px 10px #777;
         box-shadow: 0 15px 10px #777;
         -webkit-transform: rotate(3deg);
         -moz-transform: rotate(3deg);
         -o-transform: rotate(3deg);
         -ms-transform: rotate(3deg);
         transform: rotate(3deg);
       }
     }
  
}


//article-box

.article-box {

  .article {

     table {
       width:80%;
       height:200px;
       background:#FFF;
       margin:40px auto;
       font-size: 1.5rem;
       position: relative;
       border-radius: 10px;
       &:after {
         z-index: -1;
         position: absolute;
         content: "";
         bottom: 15px;
         right: 10px;
         left: auto;
         width: 50%;
         top: 80%;
         max-width:300px;
         background: #777;
         -webkit-box-shadow: 0 15px 10px #777;
         -moz-box-shadow: 0 15px 10px #777;
         box-shadow: 0 15px 10px #777;
         -webkit-transform: rotate(3deg);
         -moz-transform: rotate(3deg);
         -o-transform: rotate(3deg);
         -ms-transform: rotate(3deg);
         transform: rotate(3deg);
       }
     }

 
   }
   
  .tag_cloud {
    margin-top: 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   }

  .pagination {
    height: 100px;
    margin: auto;
    margin-top: 50px;
    text-align: center;
  }

  .pagination a {
    background-color: grey;
    text-decoration: none;
  }

  .pagination * {
    color: white;
    margin: 0 7px;
    text-decoration: none;
    padding: 12px 12px;
    border-radius: 25px;
    font-family: 'Nunito', sans-serif;
  }

  .current {
    font-style: normal;
    color: white;
    background: #93c9ff;
    border-radius: 22.5px;
    font-family: 'Nunito', sans-serif;
  }

  .pagination a:hover {
    background: #93c9ff;
  }

  .pagination .disabled {
    color: #666666;
    padding: 11px 17px;
    border-radius: 23px;
    font-family: 'Nunito', sans-serif;
  }


}


//article_each

.article_each {
  font-size: 23px;
  display: flex;
  justify-content: center;
  align-items: center; 
  margin: 1rem 4rem;
    

    @include pc {
      font-size: 20px;
    };
    @include tab {
      font-size: 18px;
    };
    @include sp {
      font-size: 20px;
    };
}


//about

.about {

  background: linear-gradient(#ccc, #fff);
  font: 14px sans-serif;
  padding: 20px;

  .icons {
    text-align: center;
    margin: 1.5rem;
     
    span {
    margin: 1rem;

    }
  
  }
   

  .letter {
    background: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    margin: 26px auto 0;
    max-width: 550px;
    min-height: 300px;
    padding: 24px;
    position: relative;
    width: 80%;
  }

  .letter:before, .letter:after {
    content: "";
    height: 98%;
    position: absolute;
    width: 100%;
    z-index: -1;
  }

  .letter:before {
    background: #fafafa;
    box-shadow: 0 0 8px rgba(0,0,0,0.2);
    left: -5px;
    top: 4px;
    transform: rotate(-2.5deg);
  }

  .letter:after {
    background: #f6f6f6;
    box-shadow: 0 0 3px rgba(0,0,0,0.2);
    right: -3px;
    top: 1px;
    transform: rotate(1.4deg);
   }

}

//mypage


.mypage {
  font-size: 30px;

    .user-articles {

      span {
        margin:0 1.5rem 2rem 0;
      }
    
      .article {
        margin: 2rem 0;
        
        table {
          border: 1.5px dashed;
          padding: 2px;
        }

      }

    }

}

 




















